/*  your css code here. If applicable */
table,td{
	border:1px solid black;	
}
.center{
	text-align:center;
}
#t-image{
	height:100px;
	display:flex;
}
.right{
	text-align:right;
}
#green{
	background-color:green;
}
#blue{
	background-color:blue;
}